.container {
  padding: 2rem;
}

.candidate {
  margin-bottom: 2rem;
  padding:1rem;
  background-color:#f5f5f5;
  border-radius: 8px;
}

.job-card{
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem ;
  border-radius: 8px;
}